@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
}
/* Colors */
:root{
    --body-color:#e4e9f7;
    --sidebar-color:#fff;
    --primary-color:#695cfe;
    --primary-color-light:#f6f5ff;
    --toggle-color:#ddd;
    --text-color:#707070;
    --text-color2:rgb(29, 29, 29);



/* Transitions */

    --tran-02: all 0.2s ease ;
    --tran-03: all 0.3s ease ;
    --tran-04: all 0.4s ease ;
    --tran-05: all 0.5s ease ;
    
    

}
body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-04);
}
body.dark{
    --body-color:#18191a;
    --sidebar-color:#242526;
    --primary-color:#3a3b3c;
    --primary-color-light:#3a3b3c;
    --toggle-color:#ddd;
    --text-color:#ccc;
}
/* ===================Resuble CSS==================== */
.sidebar .text .name{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 20px;
    transition: var(--tran-04);
    opacity: 1;

    
}
body.dark .sidebar .text .name{
    color: var( --text-color2);
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
    
}
/* ===================sidebar==================== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--tran-04);
    z-index: 100;
    
    
}
.sidebar.close{
    width: 88px;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    min-width: 60px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header{
    position: relative;
}

.sidebar .image-text .image p{
    display: inline-block;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 6px;
    padding: 7px;
    color: var(--toggle-color);
    font-weight: 600;
    font-size: 1.1rem ;
}
.sidebar header .image-text{
    display: flex;
    border-radius: 6px;
}
header .image-text .header-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 1.2rem;
    transition: var(--tran-03)
}
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius:6px ;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
 .sidebar.close header .toggle{
    transform: translateY(-50%);
    
}
body.dark .sidebar header .toggle{
    transform: rotate(180deg);
    color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark.sidebar li a:hover .text{
    color: var(--text-color);
}
.sidebar .menu-bar ul{
    margin-top: 40px;
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar .menu-bar{
  
    height: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.menu-bar .mode i.sun{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}
.menu-bar .mode i.sun{
    opacity: 0;

}
.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 22px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--sidebar-color);
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: var(--tran-03);
    
}
body.dark .switch::before{
    left: 24px;
}
.home{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--primary-color-light);
    transition: var(--tran-05);
}
.home{
    color: var(--text-color);
}
.home select{
    color: var( --text-color2);
    outline: none;
    border: 1px solid var(--text-color);
}
.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}
.gastos-diarios, .grafico-g-diarios{
    width: 100%; 
    height: 50vh;
    /* border: 1px solid red; */
    padding: 10px 0 10px 15px;
}
.gastos{
    overflow: scroll;
    width: 100%;
    height: 80%;
    /* border: 1px solid rgb(17, 0, 255); */
}
.gastos .gastoDoDia{
    border: 1px solid var(--text-color);
    margin: 5px 0;
}