:root{
  --corPrimaria:rgb(26, 202, 202);
  --corSegudanria:rgb(255, 255, 255) ;
  --corTerciaria:rgba(65, 65, 65, 0.6)
}
*{
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color:var(--corPrimaria);
}
body{
  background-color:var(--corPrimaria);
}
.container_0{
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
flex-wrap: wrap;
/* margin-top: 50px; */

}
.container_01{
  max-width: 230px;
  background-color:var(--corSegudanria); 
  padding: 15px;
  margin: 5px;
  height: auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5),
              -3px -3px 8px rgba(0, 0, 0, 0.5);
}
.criarForm{

  display: flex;
  background-color: var(--corSegudanria);
  height: auto;
  font-size: 1.2rem;
  flex-wrap: wrap;
}
span{
  margin: 15px 15px 0 15px;
  font-weight: 600;
  display: inline-block;
}
input{
  margin-top: 5px;
  font-weight: 600;
  outline: 0;
  color: black; 
  border: 1px solid var(--corTerciaria);
  /* border: none; */
  border-radius: 5px;
  background-color: var(--corSegudanria); 
  text-align: center;
}
input:focus{
  box-shadow: 1px 1px 4px var(--corPrimaria),
            -1px -1px 4px var(--corPrimaria);
}
button{
  cursor: pointer;
  margin: 10px 10px 0 20px;
  min-width: 80px;
  height: 25px;
  background-color: var(--corPrimaria);
  color: var(--corSegudanria);
  outline: 0;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
              
}
button:hover{
  background-color: var(--corPrimaria);
}
legend, .titulo{
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--corTerciaria);
}

.totalGastos{
  max-width: 230px;
  background-color: var(--corSegudanria); 
  padding: 15px;
  margin: 5px;
  height: auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5),
              -3px -3px 8px rgba(0, 0, 0, 0.5);
}
.container_02{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  
}
.container_03{
  display: flex;
  justify-content: center;
  }
.receitas_01{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  max-width: 500px;
  background-color: var(--corSegudanria); 
  padding: 15px;
  margin: 5px;
  height: auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5),
              -3px -3px 8px rgba(0, 0, 0, 0.5);
}
.receitas_01 span{
  margin: 0;
  flex-grow: 1;
  text-align: center;
  width: 230px;
  max-width: 230px;
}
.despesas, .receitas{
  margin: 10px auto; 
  background-color: var(--corSegudanria);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
    box-shadow:2px 2px 6px rgb(197, 197, 197),
    -2px -2px 6px rgb(197, 197, 197); 
}
.despesas span, .receitas span{
  position: relative;
  top: 5px;
  right: 30px;
  margin: 0;
  text-align: center;
  width: 230px;
  max-width: 230px;
  
  
}
.despesas input, .receitas input{
  margin: 0;
  position: relative;
  right: 30px;
}
.btn{
  width: 20px;
  height: 20px;
  background-color: rgb(255, 55, 55);
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
 .btn span{
  position: relative;
  top: -1px;
  right: 0px;
  display: inline-block;
  width: 20px;
  color: black;
  font-size: 17px;
  min-height: 0px;
}
.divClasse{
  /* margin: auto; */
}


